# Dependency directories
node_modules/

# Environment configuration files
.env

# MacOS system files
.DS_Store

# Logs
logs/
*.log

# Directory for output
dist/

# IDE and text editor folders
.idea/
.vscode/

# Temporary files
tmp/
temp/

# Lock files (include if not needed for production)
# package-lock.json
# yarn.lock

# Error logs
npm-debug.log*
yarn-error.log*